/* CSS Document */
.ace_editor {
	margin: 0;
	height: 400px;
	width: 100%;
}
.editor_header {
	background-color: #232323;
	color: white;
}
.editor_header {
	background-color: #232323;
}
.editor_codeselect {
	text-align: right;
	margin-top: 0.5em;
}
