/*
	======================
	Visual Peer Review
	---------------------
	focus.css
	---------------------
	A supplementary stylesheet file. 
	Contains properties for single and multi-focus pages.
*/




/* ==================================================================================  */
/* Single Focus */
/* Styles for pages that require focus on a single item or element. */
/* ==================================================================================  */

/* Single-Focus Container */
.single-focus {
	/* Spacing */
	margin-top: 100px;
	margin-bottom: 100px;
	
	/* Center Elements within Container */
	text-align: center;
}

/* Focus Icon */
.single-focus .focus-icon {
	/* Set Icon to Primary Color */
	color: var(--primary);
	
	/* Set Icon Size */
	font-size: 8em;
	
	/* Add spacing below icon */
	padding-bottom: 20px;
}

/* Input Element */
.single-focus input {
	text-align: center;
}




/* ==================================================================================  */
/* Dual Focus */
/* Styles for pages that require focus on two items or elements. */
/* ==================================================================================  */

/* Dual-Focus Container */
.dual-focus {
	/* Spacing */
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Focus Icon */
.dual-focus .focus-icon {
	/* Set Icon to Primary Color */
	color: var(--primary);
	
	/* Set Icon Size */
	font-size: 4em;
	
	/* Add spacing below icon */
	padding-bottom: 10px;
}

/* For medium sized screens and larger, apply */
@media (min-width: 768px) {
	
	/* Section One */
	.dual-focus .section-one {
		/* Spacing between sections */
		padding-right: 2em;
	}
	
	/* Section Two */
	.dual-focus .section-two {
		/* Spacing between sections */
		padding-left: 2em;
		
		/* Partition border between sections */
		border-left: thin solid;
		border-color: var(--offset);
	}
}

/* For smaller sized screens, apply */
@media (max-width: 768px) {
	/* Section Two */
	.dual-focus .section-two {
		/* Vertical Spacing betwen sections */
		margin-top: 5em;
	}
}